
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgb(223, 216, 216);
    border-bottom: 1px solid;
}

/*Header*/
#topInfo{
    display: flex;
    background-color: rgb(171, 171, 171);
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    font-size: 16px;
}

#topInfo nav{
    display:flex;
    column-gap: 20px;
}

#phone{
    display:flex;
    column-gap: 8px;
}

#Menu{
    display: flex;
    border-bottom: 2px solid;
    align-items: center;
    justify-content:space-between;
    margin:0 0 30px;
    padding: 10px;
    font-size: 20px;
}

#Menu nav{
    display: flex;
    flex-grow: 0.5;
    column-gap: 30px;
}

#Menu div{
    display: flex;
    right: 20px;
    column-gap: 10px;
}

#Logo{
    margin-left: 3em;
    width:6%;
}

/*Carrusel*/
#Carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px;
}

.Banner{
    max-width: 90%;
}

#Carrusel button{
    background-color: transparent;
    border-color: transparent;
    margin: 0 5px;
    height: 30px;
}

#Carrusel button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*titulo*/
#Titulo{
    text-align: center;
    font-size:48px;
}

#subtitulo{
    margin-top: 10px;
    font-size: 120%;
    font-size: 24px;
}

/*secciones con boton*/
#articles{
    display: flex;
    justify-content:space-between;
    margin: 20px 40px 
}

#articles article{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin: 0 20px;
    padding: 10px 0;
    line-height: 2;
    background-color: rgb(217, 217, 217);
}

#articles article button{ 
    margin-top: 10px;
    border-radius: 8px;
    color: white;
    background-color: rgb(45,54,72);
    padding: 15px 20px;
    font-size: 16px;
}

/*----------------BLOG-----------------*/
/*Banner*/
#BannerBlog{
    display: flex;
    background-color: rgb(217, 217, 217);
    justify-content: space-between;
}

#BannerBlog h1{
    font-size: 48px;
}

#BannerBlog p{
    font-size: 24px;
}

#IconsBlog{
    display: flex;
    flex-direction: row;
}

#IconsBlog a img{
    margin:8px;
}

#TitleBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 0;
}

#SocialsBlog{
    display: flex;
    align-items: end;
    width:100px;
}

#SocialsBlog a img{
    max-width: 50%;
    padding-bottom: 5px;
}

/*Menu*/
#HeaderBlog{
    background-color: rgb(235,235,235);
    font-size: 20px;
}

#MenuBlog{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 10% 2%;
}

/*Articulos*/
#ArticlesBlog{
    display: flex;
    flex-direction: column;
    width:80%;
}

#ArticlesBlog article{
    display: flex;
    justify-content: center;
    padding: 3%;
}

#ArticlesBlog article:first-child{
    border-bottom: 2px groove;
}

#ArticlesBlog article img{
    max-width: 60%;
    margin: 0 5%;
}

/*Main*/
#MainBlog{
    display: flex;
    flex-direction: row;
    margin: 0 2%;
}

/*Biography*/
#BiographyBlog{
    display: flex;
    justify-content: center;
    margin: 5% 0;
    width: 30%;
}

#BiographyBlog article{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
    
}

#BiographyBlog article div{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
    background-color: rgb(217,217,217);
    padding-top: 10%;
}

#BiographyBlog article p{
    display: flex;
    padding: 5% 5% 30% 5%;
}

#BiographyBlog article img{
    max-width: 50%;
    border-radius: 50%;
    border: 3em solid;
    z-index: 1;
    position: relative;
    top: 6%;
    border-color:  rgb(217,217,217);
}